html {
        height: 24px;
    
}

body {
    max-width: 1920px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
        
}

.container {
   width: 100%;
   /* background-color: blue; */
}

.topBar {
    width:100%;
    background-color: #060606;
   
    
    
}
.topBarNav {
    margin-left: 4.3333rem;
    margin-right: 4.5417rem;
    
    /* background-color: burlywood; */
}


.navigation {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    background-color: cadetblue;
   
    
    

}
.item, .-link {
    
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.8333rem;
    /* color: red; */
     padding-top: 1.5417rem;
    float: right;
    margin: auto;
    /* margin-right: 5px; */
    
    
    
}



.Blogname {
    display: block;
    color: #FFFFFF;
    font-size: 6.0417rem;
    padding-top: 7.5833rem;
    padding-bottom: 6.5417rem; 
    letter-spacing: 0px;
          

}

.main {
    /* width: 100%; */
    /* background-color: #FFFFFF; */
    margin-left: 4.3333rem;
    margin-right: 4.5417rem;
    /* background-color: rgb(255, 123, 0); */
    padding-top: 9.1111rem;

    
}
.content {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    float: left;
    /* padding-top: 164px; */
    
}

.leftArea {
    width: 21.52%;
    display: block;
    margin-right: 11.4444rem;
    /* background-color: burlywood; */

}
.lnavbar {
     
    width: 100%;
    padding-bottom: 2.2rem;
    border-bottom: 1px solid #969696;
}

.src1 {
    display: block;
    /* font-family: SourceSansPro-Black; */
    width: 100%;
    font-size: 1.3889rem;
    color: #060606;
    /* padding-top: 1.5833rem; */
    padding-bottom: 1.1667rem;
    font-size: 0.9167rem;
    
}
.lnavbar input {
    display: block;
    width: 15%;
    border: transparent;
    position: absolute;
    height: 1.2222rem;
    
}


.fa {
    display:block;
    float: right;
    color: #969696;
    /* opacity: 1; */
    margin-right: 5px;
    margin-top: 2px;

}

.fa:hover {
    cursor: pointer;
}

h3 {
    
    height: 1rem;
    padding-bottom: 2.3889rem;
    padding-top: 3.5rem;
}

.post-container {
    width: 100%;
    display: grid;
    grid-template-columns: 6.3889rem 14.6111rem;
    /* background-color:chartreuse; */
    grid-row-gap: 1.6667rem;
}

.under p {
    margin-top: 0;
    color: #787878;
    font-size: 1rem;
}

.date {
    font-size: 0.7222rem;
    color: #969696;
    opacity: 1;
    padding-bottom: 0.2778rem;

}


.post-item  img{
    width: 4.8333rem;
    height: 4.8333rem;
    padding: 5px 0px 5px 0px;
    
}

.comments {
    width: 100%;
    /* margin-right: 15px; */
    /* background-color:chartreuse; */
}

.com-container {
    display: grid;
    width: auto;
    
}

h4 {
    font-size: 1rem;
    color: #787878;
}

.comment {
    font-size: 0.7778rem;
    color: #969696;
}

.com-1, .com-2, .com-3 {
    border-bottom: 2px solid #E8E8E8;
    padding-bottom: 0.7778rem;
}

.arc {
 display: block;
 float: left;
 

}
.categor ul {
 padding-left: 0.8889rem;
 font-size: 1rem;
 color: #787878;
 line-height: 2.2222rem;
 

}

.arch ul {
    padding-left: 0.8889rem;
    font-size: 1rem;
    color: #787878;
    line-height: 2.2222rem;
    

}

.tagbtn button {
    display: inline-block;
    font-size: 0.7222rem;
    color: #969696;
    border: none;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}



.rightArea {
   width: 66.78%;
   display: block;
   /* background-color: aquamarine;  */
   
}

.main-item img {
    width: 29.2778rem;
    height: 18.1111rem;
    object-fit: cover;
}
.addition {
    display: flex;

}

.addition p{
    display: block;
    padding-right: 2.8333rem;
    font-size: 0.7222rem;
    color: #969696;
    opacity: 100%;
}

.description {
    font-size: 1rem;
    color: #787878;
    opacity: 100%;
}





.footer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: black;
}

.bNavbar-item1 {
    grid-area: nmb1;
}

.bNavbar-item2 {
    grid-area: nmb2;
}

.bNavbar-item3 {
    grid-area: nmb3;
}

.bNavbar-item4 {
    grid-area: nmb4;
}
.bNavbar-item5 {
    grid-area: nmb5;
}

.bNavbar {
    width: 100%;
    padding-top: 47px;
    margin-left: 4.3333rem;
    margin-right: 4.5417rem;
    /* background-color: darkblue; */
    display: grid;
    grid-template-columns: 25.1% 24.9% 16.64% 36.17%;
    grid-template-areas: 
                         'nmb1 nmb2 nmb2 nmb3'
                         'nmb1 nmb4 nmb5 nmb3'
                         'nmb1 nmb4 nmb5 nmb3';
}

.bNavbar-item1 {
    font-size: 2.8333rem;
    color: #FFFFFF;
    
    /* padding-bottom: 153px; */
    margin-right: 7.6667rem;
}

.yellow {
   color: #F5A623; 
   font-size: 36px;
}

.subs {
    font-size: 2rem;
     color: #FFFFFF;
     padding-bottom: 20px;

}

.bNavbar-item3 {
    font-size: 0.8889rem;
    color: #ffffff;
}

.bNavbar-item4 {
    color: #FFFFFF;
    font-size: 0.8889rem;
    margin-right: 3.3333rem;
    /* border-bottom: 2px solid #ffffff; */
    text-decoration: none;
    
    
}
.bNavbar-item4 input {
    border: transparent;
    background-color: #060606;
    width: 83%;
    padding-bottom: 5px;
    border-bottom: 2 px solid #FFFFFF;
}

.bnavbar-item5 button {
    text-decoration: none;
    font-size: 16px;
    background-color: transparent;
    font-family: SourceSansPro-Black;
    color: #ffffff;
}

.main-cont {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3.3333rem;
    row-gap: 1.7778rem;

}
h2 {
    font-size: 2rem;
    padding-bottom: 3.4444rem;
}


.pageList {
    display: inline-block;
    padding-top: 1.7778rem;
    padding-bottom: 9.4444rem;
    list-style: none;
    position: relative;
    
}

.pglist_i {
    font-size: 0.8889rem;
    font-family: SourceSansPro-Regular;
    text-decoration: none;
    color: #060606;
    padding: 8px 14px;
    transition: background-color .3s;
    border-radius: 5px;

}



i.material-icons {
    position: absolute;
    font-size: 0.8889rem;
    transition: background-color .3s;
    border-radius: 5px;
    padding: 6px 12px;

}

/* i.material-icons:hover {
    background-color: #D8D8D8;
} */


a.pglist_i.active {
    background-color: #060606;
    color: #FFFFFF;
}

a.pglist_i:hover:not(.active) {
    background-color: #D8D8D8;
}



/* .pageList a {
    color: #060606;
    font-size: 0.8889rem;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color .3s;
    border-radius: 5px;
    
} */

/* .pageList a.active {
    background-color: #060606;
    color: white;
}

.pageList a:hover:not(.active) {
    background-color: #ddd;
}


