html {
    font-size: 18px;
   
  }
  
  body {
    max-width: 1868px;
    background: #FFFFFF 0% 0% no-repeat padding-box;   
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    color:#060606;
    
  }

  .container {
     margin-left: 8.7778rem; 
     margin-right: 5.9444rem;
          
  }

  a {
      text-decoration: none;
      transition: all 0.8s ease; 
      color: #060606;
      
  }

  a .list-2 .kalbaRU {
      color: #060606c9;
  }

  .navbar-component {
      /* display: flex; */
      
      padding-left: 15.3333rem;
      /* margin-left: 8.7778rem; */
      /* margin-right: 5.9444rem; */
      /* box-shadow:cadetblue; */
      border-bottom: 4px solid #06060626;
  }

  .area {
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: space-between;
      /* margin-right: 5.9444rem; */
      /* padding-left: 275.9994px; */
      
      font-size:1.3333rem;
      padding-top: 3.5556rem;
      padding-bottom: 2.9444rem;
      
  }

  .list-1  {
      display: flex;
      
  }

  .list-2 {
    display: flex;
      
  }


    .item {
      display: block;
      padding-left: 1.3889rem;
      padding-right: 1.3889rem;
      text-transform: uppercase;
      font-size: 1.3333rem;
           
  }
  .item.-link {
      border-bottom: 5px solid transparent;
      border-radius: 6px 6px 6px 6px;
  }

  .item.-link:hover {
      color: #060606;
      border-bottom-color:#060606;
      box-shadow: 0 4px 8px grey;

  }

  .inquire {
      display: block;
      margin-top: -0.833rem;
      margin-right: 0;
      height: 3.6111rem;
      width: 3.6111rem;
      background-color: #446CCD;
      position: relative;
      border-radius: 6px 16px;
  }
 .inquire .fa {
    height: 1.0556rem;
    color: white;
    top: 1.1rem;
    left: 1.3333rem;
    position: absolute;
 }

 .inquire:hover {
     box-shadow: 0 4px 8px #446CCD;
     opacity: 1;
     cursor: pointer;
     
 }
 .icon {
     position: relative;
     right: 4.2222rem;
 }

 
.icon, .icon:after, .icon:before {
    display: block;
    width: 1.6667rem;
    height: 0.1667rem;
    background-color:black;
    transition: background-color 0.3s linear, transform 0.3s linear;

}

.icon:after, .icon:before {
    position: absolute;
    content: '';
}

.icon:after {
    top: 0.5556rem;
}
.icon:before {
    top: -0.5556rem;
}


.toggle {
    display: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 1.3333rem;
}

.toggle.active .icon {
    background-color: transparent;
}

.toggle.active .icon:before {
    transform: translatey(0.5556rem) rotate(45deg);
}

.toggle.active .icon:after {
    transform: translatey(-0.5556rem) rotate(-45deg);
}

.main {
    display: flex;
    width: 100%;
    /* margin: auto; */
    /* background-color: rgb(192, 158, 22); */
    /* border-bottom: 4px solid black; */
   
}

.msg-box {
    width: 53.3%;
    /* height: 24.3333rem; */
    margin-top: 7.6111rem;
    /* background-color: blueviolet; */
    /* border-top: 4px solid grey; */
}

h1 {
    font-size: 4.2222rem;
    /* background-color: sandybrown; */
}

p {
    font-size: 1.0556rem;
    color: #6C6C6C;
}
.news {
    display: block;
    width: 100%;
    /* margin: 0 auto; */
    position:relative;
}

.news input[type=text] {
    width: 100%;
    font-size: 1.1111rem;
    margin-top: 2.8333rem;
    color: #6C6C6C;
    background-color: #F8F8F8;
    border: transparent;
    padding: 1.6667rem 1.2778rem 1.6111rem;
    /* position: relative; */
    
}

.news .fa {
    position: absolute;
    color: #060606;
    height: 1.0556rem;
    top: 4.6667rem;
    right: 1.3889rem;
    

}

.btn button {
    width: 11.6667rem;
    height: 3.6111rem;
    text-decoration: none;
    margin-top: 3.8333rem;
    background-color: #446CCD;
    opacity: 1;
    font-size: 1.1667rem;
    color: #FFFFFF !important;
    border-radius: 6px 16px;
}

.btn button a {
    color: white;
}

.btn button:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px #446CCD;
}

.bott {
    width: 100%;
    margin: auto;
    margin-top: 8.6667rem;
    /* background-color: gray; */
}

.footer {
    display: flex;
    /* margin-right:5.9444rem; */
    /* background-color: rgb(228, 28, 28); */
    padding-top: 3.4444rem;
    padding-bottom: 3.4444rem;
    border-top: 4px solid #06060626;
    
}
.desinenbl {
    width: 100%;
    /* background-color: hotpink; */
}

.footer .desinenbl .fa {
   display: block;
   padding-left: 1.3889rem;
   padding-right: 0px;
   margin-right: 0px;
   float: right;
   font-size: 1.0556rem;
}

.pilka {
    background-color: grey;
}

.zalia {
    background-color: green;
}

.raudona {
    background-color: red;
}






@media screen and (max-width: 1822px) {
.navbar-component {
    padding-left: 0;
    margin-right: 0rem;
} 
}
@media screen and (max-width: 1647px) {
    .navbar-component {
        margin-left: 0rem;
        margin-right: 0rem;
        } 
    }

    @media screen and (max-width: 1582px) {
        .container {
            margin-left: 2.7778rem;
            margin-right: 2.7778rem;
        }

    }

    @media screen and (max-width: 1381px) {
        .item {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        .msg-box {
            width: 80%;
        }
    }



    @media screen and (max-width: 1357px) {
        .item {
            padding-left: 0.5556rem;
            padding-right: 0.5556rem;
        }

    }




@media screen and (max-width: 1141px) {
       .toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 2.7222rem;

        }

    

    .area {
        display: block;
        width: 100%;
        position: absolute;
        background-color: white;
        
    }

    .inquire {
        margin-top: 4.4444rem;
    }

    .list-1, .list-2 {
        display: none;
        flex-flow: column wrap;
        line-height: 2rem;
        
    }

      .list-1.active {
        display: flex;
        flex-flow: column wrap;
        margin-top: 2.5rem;
        padding-bottom: 1.1111rem;
    }

    .list-2.active {
        display: flex;
        flex-flow: column wrap;
        padding-bottom: 1.6667rem;
    }
    .msg-box {
        width: 90%;
        margin-top: 12.9444rem;
    }
    .inquire {
        display: flex;
        float: left;
        position: absolute;
    }
   
}
    